/******************/
/** Simple-Modal **/
/******************/

// ********* //
// VARIABLES //
// ********* //

// Colors
$lt-grey: #efefef;
$dk-grey: #ddd;

// Breakpoints
$breakpoint-sm: 640px;
$breakpoint-lg: 990px;

/**********/
/** BASE **/
/**********/

html {
	font-size: 62.5%;
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	margin: 0;
	font: 1.6rem/1.4 'Arial', sans-serif;
}

/* Container */
.container {
	margin-right: auto;
	margin-left: auto;
	padding-right: 1.5rem;
	padding-left: 1.5rem;

	@media only screen and (min-width: $breakpoint-lg) {
		width: 99rem;
	}
}

/***********/
/** MODAL **/
/***********/

.modal {
	display: none;
	position: fixed;
	z-index: 1000;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow-x: hidden;
	overflow-y: auto;
	background-color: rgba(0, 0, 0, .5);

	&__content {
		position: relative;
		z-index: 1050;
		margin: 1.5rem;
		border: 1px solid $dk-grey;
		background-color: #fff;

		@media only screen and (min-width: $breakpoint-sm) {
			width: 35rem;
			margin: 3rem auto;
		}
	}

	&__header {
		border-bottom: 1px solid #ddd;
		padding: 1.5rem;
		background-color: $lt-grey;
		font-size: 1.8rem;
		font-weight: 700;
	}

	&__close {
		float: right;
		color: #000;
		font-size: 3rem;
		text-decoration: none;
		
		&::after {
				content: '\02DF';
		}
	}

	&__body {
		padding: 2rem;
	}
}
